body { margin: 0; padding: 0; background-color: #041014; font-family: "cambria", sans-serif; text-align: center; }
div{color: #bea925;}
h1 { color: #bea925; margin: 20px 0; font-size: 2.5em; 
}
h2, p{color: #dec945; font-size: 0.77em; }
h3{color: #dec945; font-size: 0.5em; }

.container { position: relative; width: 90vw; height: 90vw; max-width: 600px; max-height: 600px; margin: 20px auto; overflow: visible;}
.circle-menu-box { width: 100%; height: 100%; position: relative; }
.circle-menu-box a.menu-item { text-decoration: none; border-radius: 50%; background-color: #145369; color: #bea925; display: flex; justify-content: center; align-items: center; position: absolute; transition: transform 0.5s; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
.circle-menu-box a.menu-item:hover { transform: scale(1.2); color: #fff; background-color: #bea925; }
.avatar { border-radius: 50%; overflow: hidden; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10; }
.avatar img { width: 100%; height: auto; }

@media (min-width: 600px) { 
    .circle-menu-box a.menu-item { width: 100px; height: 100px; font-size: 30px; }
    .avatar { width: 120px; height: 120px; }
}
@media (max-width: 599px) { 
    .circle-menu-box a.menu-item { width: 16vw; height: 16vw; font-size: 5vw; min-width: 60px; min-height: 60px; }
    .avatar { width: 30vw; height: 30vw; min-width: 90px; min-height: 90px; }
    h1 { font-size: 6vw; }
}

/* posts */
#blog-posts {
    list-style-type: none; /* Removes the default list item marker */
    padding: 0; /* Removes the default padding */
}

#blog-posts li {
    background-color: #145369; /* Secondary color */
    margin-bottom: 10px; /* Space between items */
    border-radius: 5px; /* Rounded corners for the list items */
}

#blog-posts li a {
    color: #bea925; /* Golden color for the text */
    display: block; /* Makes the link fill the entire list item */
    padding: 10px 15px; /* Padding inside the list items */
    text-decoration: none; /* Removes the underline from the links */
    transition: background-color 0.3s ease; /* Smooth background color transition for hover effect */
}

#blog-posts li a:hover {
    background-color: #2596be; /* Primary color for hover effect */
    color: #fff; /* White text on hover */
}

/* blog sections text */

.blog-section {
    padding: 15px; /* Add some padding */
    margin-right: auto;
    margin-left: auto;
    max-width: 960px; /* Maximum width of the content */
}

/* Responsive behavior */
@media (max-width: 991px) {
    .blog-section {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .blog-section {
        max-width: 540px;
    }
}

@media (max-width: 575px) {
    .blog-section {
        max-width: 100%; /* On very small screens, take full width */
    }
}


/* ul for buttons bio, clases.. */
#blog-section ul {
    list-style-type: none;
    padding: 0;
}

#blog-section ul li {
    background-color: #145369;
    margin-bottom: 10px;
    border-radius: 5px;
}

#blog-section ul li a {
    color: #bea925;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#blog-section ul li a:hover {
    background-color: #2596be;
    color: #fff;
}


.back-button {
    background-color: #145369; /* Secondary color */
    color: #bea925; /* Golden color for the text */
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.back-button:hover {
    background-color: #2596be; /* Primary color for hover effect */
    color: #fff;
}

.circle-menu-box {
    position: relative;
    /* Other styling as needed */
}

.menu-item {
    /* Existing styles for the circular menu items */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Ensure the text fits below the icon */
}

.menu-item .fa {
    /* Icon styles, if needed */
    margin-bottom: 4px; /* Space between icon and text */
}

.menu-label {
    display: block; /* Show the label */
    color: #bea925; /* Golden color for the text */
    font-size: 0.8em; /* Smaller font size for the label */
    margin-top: 4px; /* Space above the label */
}

/* Styles for the text menu at the bottom */
.text-menu {
    text-align: center;
    padding: 20px 0; /* Add padding above and below the text menu */
    background-color: #041014; /* Match the background color */
    color: #bea925; /* Match the text color */
}

.text-menu ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

.text-menu li {
    display: block; /* Display each item on a new line */
    margin: 5px 0; /* Add some margin between items if desired */
    margin-right: 10px; /* Space between items */
}

.text-menu a {
    color: #bea925; /* Text color */
    text-decoration: none; /* Remove underline from links */
    font-size: 1em; /* Adjust as needed */
    display: inline-block; /* If you need to apply padding or margin to the links */
    width: 100%; /* Ensure the anchor tag fills the whole line for easier touch */
}



